@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');


/* Root Variables */
:root {
    --color-white: white;
    --color-white-light: rgba(255, 255, 255, 0.2);
    --color-black: black;
    --color-black-light: rgba(0, 0, 0, 0.2);
    --color-bg: white;
    --color-bg-light: rgba(255, 255, 255, 0.8);
    --color-bg-reverse: #0f0f0f;
    --color-accent-1: #FC5B13;
    --color-accent-2: rgba(0, 217, 255, 0.8);
    --color-accent-2-light: rgba(108, 229, 255, 0.75);
    --color-gradient-1: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);

    --text-shadow-1: none;
    --box-shadow-1: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    --box-shadow-2: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --box-shadow-3: 0 2rem 3rem var(--color-bg-light);
    --box-shadow-4: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 2px 2px;
    --box-shadow-5: 0 2rem 3rem rgba(0, 0, 0, 0.3);
    --box-shadow-6: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    --background-1: url('./assets/sw-wall-1.jpeg');
    --background-2: linear-gradient(to right, #fffdf0, #e0fcff);

    --transition-1: all 0.3s ease-in-out;
}

.dark-mode {
    --color-white: black;
    --color-white-light: rgba(0, 0, 0, 0.2);
    --color-black: white;
    --color-black-light: rgba(255, 255, 255, 0.2);
    --color-bg: #0f0f0f;
    --color-bg-light: rgba(0, 0, 0, 0.8);
    --color-bg-reverse: white;
    --color-accent-2: rgb(28, 138, 255);
    --color-accent-2-light: rgb(114, 171, 255);

    --text-shadow-1: 2px 2px black;
    --box-shadow-1: rgba(205, 205, 162, 0.25) 0px 50px 100px -20px,
        rgba(255, 255, 255, 0.3) 0px 30px 60px -30px,
        rgba(245, 218, 191, 0.35) 0px -2px 6px 0px inset;
    --box-shadow-2: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    --box-shadow-3: 0 2rem 3rem var(--color-bg-light);
    --box-shadow-4: rgba(105, 105, 105, 0.2) 0px 1px 3px, rgba(109, 109, 109, 0.2) 0px 2px 2px;
    --box-shadow-5: 0 1.7rem 2.5rem rgba(255, 255, 255, 0.15);
    --box-shadow-6: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(140, 181, 221, 0.35) -4px -2px 6px 0px inset;

    --background-1: url('./assets/avengers-wall-1.webp');
    --background-2: linear-gradient(to right, #141e30, #243b55);

}


/* Reset CSS */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: background 0.8s ease;
}


/* Master Font & Styles*/
html,
body {
    font-family: 'Montserrat', sans-serif;
    background: var(--color-bg);
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
}


/* Effects */
.a-left {
    display: inline-block;
    position: relative;
    color: var(--color-black);
}

.a-left::after {
    content: '';
    position: absolute;
    width: 80%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 10%;
    background: var(--color-black);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.a-left:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.btn {
    position: relative;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 5px;
    border: none;
    font-family: inherit;
    font-weight: 700;
    color: var(--color-black);
    background: var(--color-accent-2);
    box-shadow: var(--box-shadow-4);
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background: var(--color-accent-2-light);
    font-size: 16px;
    padding: 10px 22px;
    letter-spacing: 1px;
}

.btn:active {
    transform: translateY(5px);
    box-shadow: var(--box-shadow-4);
}

.card {
    position: relative;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 30px;
    border: none;
    font-family: inherit;
    color: var(--color-black);
    background: var(--color-white-light);
    box-shadow: var(--box-shadow-4);
    cursor: pointer;
    transition: var(--transition-1);
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: var(--box-shadow-5);
}

.card:active {
    transform: translateY(0px);
    box-shadow: var(--box-shadow-4);
}








/* Scrollbar styles */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color-black-light);
}

::-webkit-scrollbar-thumb {
    background: rgb(28, 138, 255);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(15, 107, 206);
}