.user-profile-ctr {
    padding-top: 65px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-bg-reverse);
    margin: auto 5%;
    text-align: center;
}

.user-profile-ctr h1 {
    font-size: 2.5rem;
    padding: 1rem;
}

.user-profile-ctr .a-full {
    color: var(--color-bg-reverse);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 0;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.user-profile-ctr .a-full section {
    height: 300px;
}

.user-profile-ctr .a-full .inner-section {
    padding: 20px;
    height: 100%;
    width: 100%;
}

.user-profile-ctr .a-full .inner-section>* {
    background: var(--color-bg-light);
    box-shadow: var(--box-shadow-7-cards);
}

.user-profile-ctr .a-full section:first-of-type {
    width: 40%;
    user-select: none;
}

.user-profile-ctr .a-full section:first-of-type .inner-section {
    overflow: hidden;
    border-radius: 15px;
}

.user-profile-ctr .a-full section:first-of-type .inner-section > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    user-select: none;
    cursor: pointer;
}

.user-profile-ctr .a-full section:last-of-type {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.user-profile-ctr .a-full section:last-of-type .inner-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.user-profile-ctr .a-full section:last-of-type .inner-section>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: var(--color-black-light);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    box-shadow: var(--box-shadow-7-cards);
    width: 80%;
    max-width: 800px;
    border-radius: 15px;
}

.modal-content h3 {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-profile-ctr .tooltip-anchor {
    float: right;
    top: 0;
    right: 0;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: relative;

}

.close:hover,
.close:focus {
    color: red;
}

/* Style the button to open the modal */
#openModalBtn {
    padding: 10px;
    margin: 20px;
    cursor: pointer;
}

.modal-open {
    display: block;
}












@media screen and (max-width: 767px) {
    .user-profile-ctr .a-full {
        gap: 0;
    }

    .user-profile-ctr .a-full .inner-section {
        padding: 10px;
    }

    .user-profile-ctr .a-full section:first-of-type,
    .user-profile-ctr .a-full section:last-of-type {
        width: 100%;
    }

    .user-profile-ctr .a-full section:first-of-type {
        height: 400px;
    }

    .user-profile-ctr .a-full section:last-of-type {
        height: fit-content;
    }

    .user-profile-ctr .a-full section:last-of-type .inner-section {
        gap: 15px;
    }

    .user-profile-ctr p {
        word-break: break-all;
    }
}