.card {
    position: relative;
    width: 250px;
    height: 350px;
    background: black;
    overflow: hidden;
    cursor: pointer;
    box-shadow: var(--box-shadow-7-cards);
    border-radius: 15px;
    transition: box-shadow 0.3s;
    user-select: none;
}

.card .poster {
    position: relative;
    overflow: hidden;
}

.card .poster::before {
    content: '';
    position: absolute;
    bottom: -140px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, black 50%, transparent);
    transition: 0.5s;
    z-index: 1;
}

.card:hover .poster::before {
    bottom: 0;
}

.card .poster img {
    width: 100%;
    transition: 0.5s;
}

.card:hover .poster img {
    filter: blur(5px);
    transform: translateY(-50px);
}

.card .no-img {
    color: white;
    height: 350px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: 0.3s ease-in;
}

.details {
    position: absolute;
    padding: 10px;
    width: 100%;
    height: 85%;
    bottom: -140px;
    left: 0;
    transition: 0.5s;
    z-index: 2;
}

.card:hover .details {
    bottom: 0;
}

.details .title-ctr {
    height: 66px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.details h2 {
    color: #fff;
    text-shadow: 1px 1px black;
    font-size: 18px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
}

.details>span:nth-of-type(1) {
    font-size: 14px;
    font-weight: 700;
    color: #ff9800;
    text-shadow: 1px 1px black;
}

.rating {
    position: relative;
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 26px;
}

.rating span:not(.rating-number) {
    color: #f7f406;
    font-size: 26px;
    letter-spacing: -10px;
}

.rating .rating-number {
    color: #fff;
    padding: 0 2px;
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    text-shadow: 1px 1px black;
    letter-spacing: 1px;
    margin-left: 10px;
    margin-top: 4px;
}

.tags {
    position: relative;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 20px;
    gap: 10px 3px;
    transition: all 0.6s ease-in-out;
}

.card:hover .tags {
    gap: 3px;
}

.tags span {
    padding: 3px 5px;
    color: white;
    text-shadow: 1px 1px black;
    display: inline-block;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    background: royalblue;
    /* generic color for unspecified tags */
}

.tags span.fantasy {
    background: #7206f7;
}

.tags span.romance {
    background: #ff37a5;
}

.tags span.adventure {
    background: #f7ab06;
    color: black;
    text-shadow: none;
}

.tags span.drama {
    background: rgb(73, 180, 184);
}

.tags span.crime {
    background: rgb(126, 68, 68);
}

.tags span.action {
    background: chartreuse;
    color: black;
    text-shadow: none;
}

.tags span.science-fiction {
    background: pink;
    color: black;
    text-shadow: none;
}

.tags span.thriller {
    background: rgb(185, 9, 38);
}

.tags span.horror {
    background: rgb(138, 185, 9);
}

.tags span.music {
    background: rgb(35, 97, 212);
}

.tags span.espionage {
    background: rgb(82, 89, 102);
}

.tags span.mystery {
    background: rgb(202, 136, 255);
    color: black;
    text-shadow: none;
}

.tags span.supernatural {
    background: rgb(215, 255, 70);
    color: black;
    text-shadow: none;
}

.tags span.family {
    background: rgb(20, 255, 188);
    color: black;
    text-shadow: none;
}

.tags span.anime {
    background: rgb(255, 23, 178);
    color: black;
    text-shadow: none;
}

.tags span.history {
    background: rgb(141, 169, 224);
}

.tags span.comedy {
    background: rgb(255, 110, 47);
}

.tags span.medical {
    background: rgb(255, 0, 0);
    color: black;
    text-shadow: none;
}

.tags span.legal {
    background: rgb(133, 126, 29);
}

.tags span.western {
    background: rgb(59, 59, 56);
    color: yellow;
    text-shadow: none;
}

.tags span.war {
    background: rgb(150, 44, 44);
    color: black;
    text-shadow: none;
}





/* .info {
    color: var(--color-bg-reverse);
}

.info p {
    margin: 10px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    font-size: 14px;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    text-align: center;
    color: white;
} */

.extra {
    position: relative;
}

.extra p {
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    word-spacing: 2px;
}