.shows-ctr {
    padding-top: 65px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-bg-reverse);
    margin: auto 5%;
    text-align: center;
}

.shows-ctr h1 {
    font-size: 2.5rem;
    padding: 1rem;
}

.loader-cage {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-cage .lds-roller {
    scale: 1.5;
}
