.info,
.info-full {
    color: var(--color-bg-reverse);
}

.info p {
    margin: 10px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    font-size: 14px;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    text-align: center;
    color: white;
}

.info p:not(:first-child) {
    display: none;
}

.info-full p {
    margin: 10px 0;
    font-size: 14px;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    text-align: center;
    color: white;
}