.show-details-ctr {
    padding-top: 65px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-bg-reverse);
    margin: auto 5%;
    text-align: center;
}

.show-details-ctr h1 {
    font-size: 2rem;
    padding: 0.5rem;
}

.show-details-ctr .card-cage {
    /* background: peru; */
    width: 90%;
    display: grid;
    grid-template-columns: minmax(200px, 400px) 1fr;
    justify-items: center;
    gap: 20px;
    margin: 0 0 10px 0;
    padding: 10px 0;
}

.show-details-ctr .com-title h2 {
    margin: auto;
    max-width: 800px;
}

.show-details-ctr .card-cage .title-ctr {
    padding-top: 10px;
}

.show-details-ctr .card-cage .title-ctr h2 {
    font-size: 28px;
}

.show-details-ctr .card-cage .details-img {
    max-width: 400px;
    width: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: var(--box-shadow-7-cards);
    border-radius: 15px;
    transition: box-shadow 0.3s;
    user-select: none;
}

.show-details-ctr .card-cage .details-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.show-details-ctr .card-cage .details-img .no-img {
    max-width: 400px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    background: var(--color-bg-light);
}

.show-details-ctr .card-cage .main-details-ctr {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* align-items: center; */
}

.show-details-ctr .card-cage .main-details-ctr .inner-details {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: var(--box-shadow-7-cards);
    border-radius: 15px;
    transition: box-shadow 0.3s;
    padding: 10px 30px;
    background: var(--color-bg-light);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

.show-details-ctr .card-cage .main-details-ctr .year-ctr {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.show-details-ctr .card-cage .main-details-ctr .year-ctr span {
    color: var(--color-accent-1);
    font-weight: 700;
    font-size: 18px;
    display: block;
}

.imdb {
    height: 30px;
    border-radius: 5px;
    transition: 0.3s;
}

.imdb:hover {
    box-shadow: var(--box-shadow-2);
}

.imdb img {
    height: 100%;
}

.imdb .tooltip {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.imdb .tooltip span.material-symbols-outlined {
    padding-right: 5px;
}

.show-details-ctr .rating-ctr {
    width: 100%;
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.show-details-ctr .rating-ctr span:not(.rating-num) {
    font-size: 34px;
    color: var(--color-star);
    letter-spacing: -10px;
    height: inherit;
}

.show-details-ctr .rating-ctr .rating-num {
    color: var(--color-bg-reverse);
    font-weight: 700;
    font-size: 20px;
    padding: 0 2px;
    display: inline-block;
    letter-spacing: 1px;
    height: inherit;
    text-align: center;
    padding: 8px 8px 2px 8px;
    margin: auto 0 auto 10px;
}

.show-details-ctr #details-tags {
    gap: 10px;
    margin-bottom: 5px;
}

.show-details-ctr #details-tags * {
    font-size: 18px;
    padding: 5px 10px;
}

.show-details-ctr .info p,
.show-details-ctr .info-full p {
    color: var(--color-black);
    font-size: 18px;
    letter-spacing: normal;
    line-height: 1.5;
    font-style: italic;
}

.show-details-ctr .w-full {
    width: 90%;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: var(--box-shadow-7-cards);
    background: var(--color-bg-light);
    display: flex;
}

.show-details-ctr .w-full.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.show-details-ctr .details-p {
    padding: 0 10px;
    font-size: 18px;
}

.show-details-ctr .details-p b {
    padding: 0 10px;
}

.show-details-ctr .details-p a {
    text-decoration: none;
    color: var(--color-bg-reverse);
    font-weight: 700;
    padding: 0 10px;
}

.show-details-ctr .top-cast {
    width: 100%;
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.show-details-ctr .img-circle-sm {
    width: 50px;
    height: 50px;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: var(--box-shadow-7-cards);
    transition: 0.3s;
}

.show-details-ctr .img-circle-sm img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.show-details-ctr .img-circle-sm:hover {
    scale: 1.1;
}

.show-details-ctr .tooltip-anchor:has(.img-circle-sm):hover .tooltip {
    transform: translateY(-80px);
}

.show-details-ctr .tooltip-anchor:has(.img-circle-sm) .tooltip {
    top: 0;
    transform: translateY(-60px);
    width: 140px;
    margin-left: -70px;
}

.show-details-ctr .extra-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.show-details-ctr .extra-links .details-p {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

.show-details-ctr .extra-links .details-p a {
    padding: 8px 25px;
}

.show-details-ctr .details-p .btn {
    padding: 3px 15px;
}

.show-details-ctr .top-cast .no-img {
    font-size: 12px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-bottom: 5px;
}

a {
    text-decoration: none;
}





@media screen and (max-width: 1050px) {
    .show-details-ctr .card-cage {
        width: 100%;
    }

    .show-details-ctr .w-full {
        width: 100%;
    }
}

@media screen and (max-width: 920px) {
    .show-details-ctr .card-cage {
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: start;
    }

    .show-details-ctr .card-cage>* {
        width: 100%;
    }

    .show-details-ctr .card-cage .details-img {
        max-width: 100%;
    }

    .show-details-ctr .card-cage .main-details-ctr .inner-details {
        width: 100%;
        gap: 10px;
    }

    .show-details-ctr .card-cage .details-img .no-img {
        max-width: 100%;
        padding: 20px 0;
    }


}

@media screen and (max-width: 767px) {
    .show-details-ctr .rating-ctr {
        padding: 30px 15px 5px 0;
    }

    .show-details-ctr .rating-ctr .rating-num {
        position: absolute;
        top: 0;
        padding: 8px 0 0 15px;
        margin: auto 0;
    }

}

@media screen and (max-width: 450px) {
    .show-details-ctr .card-cage .title-ctr h2 {
        font-size: 20px;
    }

    .show-details-ctr .card-cage .main-details-ctr .year-ctr {
        width: 160px;
        padding-top: 40px;
        position: relative;
    }

    .show-details-ctr .card-cage .main-details-ctr .year-ctr span {
        font-size: 16px;
        bottom: 0;
    }

    .imdb {
        position: absolute;
        top: -5px;
        left: 50%;
        transform: translateX(-50%);
    }

    .show-details-ctr .rating-ctr span:not(.rating-num) {
        font-size: 30px;
        letter-spacing: -12px;
    }

    .show-details-ctr .rating-ctr .rating-num {
        font-size: 16px;
    }

    .show-details-ctr #details-tags {
        gap: 10px 3px;
    }

    .show-details-ctr #details-tags * {
        font-size: 16px;
        padding: 3px 5px;
    }

    .show-details-ctr .w-full {
        padding: 0 10px;
    }

    .show-details-ctr .w-full.summary h2,
    .show-details-ctr .w-full h2 {
        padding: 20px 0 10px 0;
    }

    .show-details-ctr .info p,
    .show-details-ctr .info-full p {
        font-size: 16px;
    }


}